In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("full_dataset_v1.csv")
print(len(df))
df.head()

4477

,Unnamed: 0,id,date,lat,lon,country,fatalities,injuries,type,trigger,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,0,9204,2016-03-03,13.979100,121.898200,Philippines,0,0,landslide,flooding,...,82.0,1017.0,90.0,25.0,0.9,85.0,1016.0,87.0,23.0,54
1,1,12369,2015-08-15,20.840400,105.734100,Vietnam,0,0,riverbank_collapse,downpour,...,110.0,1006.0,91.0,10.0,0.0,98.0,1007.0,80.0,12.0,4
2,2,6842,2017-03-10,33.370552,75.193916,India,0,0,landslide,rain,...,67.0,1012.0,81.0,19.0,1.4,66.0,1012.0,72.0,11.0,115
3,3,8580,2017-07-09,24.827676,93.518250,India,0,0,landslide,continuous_rain,...,87.0,1005.0,99.0,4.0,6.5,81.0,1008.0,100.0,4.0,107
4,4,9452,2011-07-03,27.316700,86.500000,Nepal,0,0,landslide,continuous_rain,...,67.0,1004.0,99.0,8.0,3.5,76.0,1006.0,99.0,11.0,77

In [25]:
print(list(df.columns))

['Unnamed: 0', 'id', 'date', 'lat', 'lon', 'country', 'fatalities', 'injuries', 'type', 'trigger', 'severity', 'location', 'precip35', 'temp35', 'air35', 'humidity35', 'wind35', 'precip34', 'temp34', 'air34', 'humidity34', 'wind34', 'precip33', 'temp33', 'air33', 'humidity33', 'wind33', 'precip32', 'temp32', 'air32', 'humidity32', 'wind32', 'precip31', 'temp31', 'air31', 'humidity31', 'wind31', 'precip30', 'temp30', 'air30', 'humidity30', 'wind30', 'precip29', 'temp29', 'air29', 'humidity29', 'wind29', 'precip28', 'temp28', 'air28', 'humidity28', 'wind28', 'precip27', 'temp27', 'air27', 'humidity27', 'wind27', 'precip26', 'temp26', 'air26', 'humidity26', 'wind26', 'precip25', 'temp25', 'air25', 'humidity25', 'wind25', 'precip24', 'temp24', 'air24', 'humidity24', 'wind24', 'precip23', 'temp23', 'air23', 'humidity23', 'wind23', 'precip22', 'temp22', 'air22', 'humidity22', 'wind22', 'precip21', 'temp21', 'air21', 'humidity21', 'wind21', 'precip20', 'temp20', 'air20', 'humidity20', 'wind20', 'precip19', 'temp19', 'air19', 'humidity19', 'wind19', 'precip18', 'temp18', 'air18', 'humidity18', 'wind18', 'precip17', 'temp17', 'air17', 'humidity17', 'wind17', 'precip16', 'temp16', 'air16', 'humidity16', 'wind16', 'precip15', 'temp15', 'air15', 'humidity15', 'wind15', 'precip14', 'temp14', 'air14', 'humidity14', 'wind14', 'precip13', 'temp13', 'air13', 'humidity13', 'wind13', 'precip12', 'temp12', 'air12', 'humidity12', 'wind12', 'precip11', 'temp11', 'air11', 'humidity11', 'wind11', 'precip10', 'temp10', 'air10', 'humidity10', 'wind10', 'precip9', 'temp9', 'air9', 'humidity9', 'wind9', 'precip8', 'temp8', 'air8', 'humidity8', 'wind8', 'precip7', 'temp7', 'air7', 'humidity7', 'wind7', 'precip6', 'temp6', 'air6', 'humidity6', 'wind6', 'precip5', 'temp5', 'air5', 'humidity5', 'wind5', 'precip4', 'temp4', 'air4', 'humidity4', 'wind4', 'precip3', 'temp3', 'air3', 'humidity3', 'wind3', 'precip2', 'temp2', 'air2', 'humidity2', 'wind2', 'precip1', 'temp1', 'air1', 'humidity1', 'wind1', 'precip0', 'temp0', 'air0', 'humidity0', 'wind0', 'slope']

In [26]:
df.drop(columns=["Unnamed: 0", "lat", "lon", "country", "fatalities", "injuries", "type", "trigger", "location"], inplace = True)

In [27]:
df

,id,date,severity,precip35,temp35,air35,humidity35,wind35,precip34,temp34,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,9204,2016-03-03,small,0.5,86.0,1017.0,84.0,27.0,1.4,86.0,...,82.0,1017.0,90.0,25.0,0.9,85.0,1016.0,87.0,23.0,54
1,12369,2015-08-15,medium,0.0,102.0,1005.0,75.0,17.0,0.1,106.0,...,110.0,1006.0,91.0,10.0,0.0,98.0,1007.0,80.0,12.0,4
2,6842,2017-03-10,unknown,0.0,73.0,1020.0,42.0,6.0,1.2,72.0,...,67.0,1012.0,81.0,19.0,1.4,66.0,1012.0,72.0,11.0,115
3,8580,2017-07-09,medium,2.3,85.0,1006.0,100.0,8.0,0.9,90.0,...,87.0,1005.0,99.0,4.0,6.5,81.0,1008.0,100.0,4.0,107
4,9452,2011-07-03,medium,2.1,77.0,1008.0,81.0,12.0,2.6,75.0,...,67.0,1004.0,99.0,8.0,3.5,76.0,1006.0,99.0,11.0,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4472,2697,2010-08-30,medium,7.8,85.0,1002.0,95.0,21.0,4.3,88.0,...,91.0,1006.0,97.0,13.0,11.1,83.0,1004.0,98.0,16.0,20
4473,1012,2013-07-06,medium,6.2,46.0,1014.0,99.0,17.0,4.7,46.0,...,50.0,1012.0,98.0,14.0,1.8,51.0,1013.0,97.0,17.0,102
4474,10445,2011-06-17,large,3.3,79.0,1011.0,80.0,13.0,2.5,80.0,...,83.0,1003.0,87.0,13.0,4.1,84.0,1004.0,93.0,13.0,93
4475,4938,2011-02-04,medium,0.0,94.0,1009.0,97.0,9.0,0.0,92.0,...,92.0,1009.0,98.0,8.0,0.9,97.0,1009.0,97.0,6.0,68
4476,12544,2018-06-05,medium,1.4,100.0,1012.0,97.0,13.0,1.8,95.0,...,105.0,1008.0,89.0,7.0,0.1,98.0,1010.0,91.0,9.0,79

In [34]:
df = df[ (df['severity'] == "small") | (df['severity'] == "medium") | (df['severity'] == "large") ]
df.reset_index(inplace=True, drop=True)
df

,id,date,severity,precip35,temp35,air35,humidity35,wind35,precip34,temp34,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,9204,2016-03-03,small,0.5,86.0,1017.0,84.0,27.0,1.4,86.0,...,82.0,1017.0,90.0,25.0,0.9,85.0,1016.0,87.0,23.0,54
1,12369,2015-08-15,medium,0.0,102.0,1005.0,75.0,17.0,0.1,106.0,...,110.0,1006.0,91.0,10.0,0.0,98.0,1007.0,80.0,12.0,4
2,8580,2017-07-09,medium,2.3,85.0,1006.0,100.0,8.0,0.9,90.0,...,87.0,1005.0,99.0,4.0,6.5,81.0,1008.0,100.0,4.0,107
3,9452,2011-07-03,medium,2.1,77.0,1008.0,81.0,12.0,2.6,75.0,...,67.0,1004.0,99.0,8.0,3.5,76.0,1006.0,99.0,11.0,77
4,10268,2015-01-18,medium,4.0,101.0,1011.0,98.0,6.0,4.2,100.0,...,81.0,1011.0,99.0,8.0,17.5,78.0,1013.0,99.0,5.0,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4194,2697,2010-08-30,medium,7.8,85.0,1002.0,95.0,21.0,4.3,88.0,...,91.0,1006.0,97.0,13.0,11.1,83.0,1004.0,98.0,16.0,20
4195,1012,2013-07-06,medium,6.2,46.0,1014.0,99.0,17.0,4.7,46.0,...,50.0,1012.0,98.0,14.0,1.8,51.0,1013.0,97.0,17.0,102
4196,10445,2011-06-17,large,3.3,79.0,1011.0,80.0,13.0,2.5,80.0,...,83.0,1003.0,87.0,13.0,4.1,84.0,1004.0,93.0,13.0,93
4197,4938,2011-02-04,medium,0.0,94.0,1009.0,97.0,9.0,0.0,92.0,...,92.0,1009.0,98.0,8.0,0.9,97.0,1009.0,97.0,6.0,68
4198,12544,2018-06-05,medium,1.4,100.0,1012.0,97.0,13.0,1.8,95.0,...,105.0,1008.0,89.0,7.0,0.1,98.0,1010.0,91.0,9.0,79

In [62]:
from sklearn.preprocessing import OneHotEncoder
X = np.array(df.drop(columns=["id", "date", "severity"]))
Y = OneHotEncoder(sparse = False).fit_transform(np.array(df['severity']).reshape(-1, 1),)

In [66]:
Y

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [67]:
X

array([[5.000e-01, 8.600e+01, 1.017e+03, ..., 8.700e+01, 2.300e+01,
        5.400e+01],
       [0.000e+00, 1.020e+02, 1.005e+03, ..., 8.000e+01, 1.200e+01,
        4.000e+00],
       [2.300e+00, 8.500e+01, 1.006e+03, ..., 1.000e+02, 4.000e+00,
        1.070e+02],
       ...,
       [3.300e+00, 7.900e+01, 1.011e+03, ..., 9.300e+01, 1.300e+01,
        9.300e+01],
       [0.000e+00, 9.400e+01, 1.009e+03, ..., 9.700e+01, 6.000e+00,
        6.800e+01],
       [1.400e+00, 1.000e+02, 1.012e+03, ..., 9.100e+01, 9.000e+00,
        7.900e+01]])

In [ ]:
from sklearn.