In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("full_dataset_v1.csv")
print(len(df))
df.head()

8953

,Unnamed: 0,id,date,lat,lon,country,fatalities,injuries,type,trigger,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,0,9204,3/3/2016,13.979100,121.898200,Philippines,0,0,landslide,flooding,...,82,1017,90,25,0.9,85,1016,87,23,54
1,1,12369,8/15/2015,20.840400,105.734100,Vietnam,0,0,riverbank_collapse,downpour,...,110,1006,91,10,0.0,98,1007,80,12,4
2,2,6842,3/10/2017,33.370552,75.193916,India,0,0,landslide,rain,...,67,1012,81,19,1.4,66,1012,72,11,115
3,3,8580,7/9/2017,24.827676,93.518250,India,0,0,landslide,continuous_rain,...,87,1005,99,4,6.5,81,1008,100,4,107
4,4,9452,7/3/2011,27.316700,86.500000,Nepal,0,0,landslide,continuous_rain,...,67,1004,99,8,3.5,76,1006,99,11,77

In [5]:
print(list(df.columns))

['Unnamed: 0', 'id', 'date', 'lat', 'lon', 'country', 'fatalities', 'injuries', 'type', 'trigger', 'severity', 'location', 'precip35', 'temp35', 'air35', 'humidity35', 'wind35', 'precip34', 'temp34', 'air34', 'humidity34', 'wind34', 'precip33', 'temp33', 'air33', 'humidity33', 'wind33', 'precip32', 'temp32', 'air32', 'humidity32', 'wind32', 'precip31', 'temp31', 'air31', 'humidity31', 'wind31', 'precip30', 'temp30', 'air30', 'humidity30', 'wind30', 'precip29', 'temp29', 'air29', 'humidity29', 'wind29', 'precip28', 'temp28', 'air28', 'humidity28', 'wind28', 'precip27', 'temp27', 'air27', 'humidity27', 'wind27', 'precip26', 'temp26', 'air26', 'humidity26', 'wind26', 'precip25', 'temp25', 'air25', 'humidity25', 'wind25', 'precip24', 'temp24', 'air24', 'humidity24', 'wind24', 'precip23', 'temp23', 'air23', 'humidity23', 'wind23', 'precip22', 'temp22', 'air22', 'humidity22', 'wind22', 'precip21', 'temp21', 'air21', 'humidity21', 'wind21', 'precip20', 'temp20', 'air20', 'humidity20', 'wind20', 'precip19', 'temp19', 'air19', 'humidity19', 'wind19', 'precip18', 'temp18', 'air18', 'humidity18', 'wind18', 'precip17', 'temp17', 'air17', 'humidity17', 'wind17', 'precip16', 'temp16', 'air16', 'humidity16', 'wind16', 'precip15', 'temp15', 'air15', 'humidity15', 'wind15', 'precip14', 'temp14', 'air14', 'humidity14', 'wind14', 'precip13', 'temp13', 'air13', 'humidity13', 'wind13', 'precip12', 'temp12', 'air12', 'humidity12', 'wind12', 'precip11', 'temp11', 'air11', 'humidity11', 'wind11', 'precip10', 'temp10', 'air10', 'humidity10', 'wind10', 'precip9', 'temp9', 'air9', 'humidity9', 'wind9', 'precip8', 'temp8', 'air8', 'humidity8', 'wind8', 'precip7', 'temp7', 'air7', 'humidity7', 'wind7', 'precip6', 'temp6', 'air6', 'humidity6', 'wind6', 'precip5', 'temp5', 'air5', 'humidity5', 'wind5', 'precip4', 'temp4', 'air4', 'humidity4', 'wind4', 'precip3', 'temp3', 'air3', 'humidity3', 'wind3', 'precip2', 'temp2', 'air2', 'humidity2', 'wind2', 'precip1', 'temp1', 'air1', 'humidity1', 'wind1', 'precip0', 'temp0', 'air0', 'humidity0', 'wind0', 'slope']

In [6]:
df.drop(columns=["Unnamed: 0", "lat", "lon", "country", "fatalities", "injuries", "type", "trigger", "location"], inplace = True)

In [7]:
df

,id,date,severity,precip35,temp35,air35,humidity35,wind35,precip34,temp34,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,9204,3/3/2016,small,0.5,86.0,1017.0,84.0,27.0,1.4,86.0,...,82,1017,90,25,0.9,85,1016,87,23,54
1,12369,8/15/2015,medium,0.0,102.0,1005.0,75.0,17.0,0.1,106.0,...,110,1006,91,10,0.0,98,1007,80,12,4
2,6842,3/10/2017,unknown,0.0,73.0,1020.0,42.0,6.0,1.2,72.0,...,67,1012,81,19,1.4,66,1012,72,11,115
3,8580,7/9/2017,medium,2.3,85.0,1006.0,100.0,8.0,0.9,90.0,...,87,1005,99,4,6.5,81,1008,100,4,107
4,9452,7/3/2011,medium,2.1,77.0,1008.0,81.0,12.0,2.6,75.0,...,67,1004,99,8,3.5,76,1006,99,11,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8948,8881,4/26/2011,medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96,1010,99,12,0.2,94,1010,99,11,45
8949,277,11/27/2008,medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,91,1011,95,11,2.9,84,1011,94,13,-1
8950,2644,5/7/2014,small,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,61,1017,88,17,0.0,66,1019,73,9,20
8951,9211,10/11/2015,medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97,1010,93,21,0.0,95,1011,89,19,12954
8952,6574,12/15/2008,medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98,1010,90,13,0.9,97,1009,91,15,37

In [9]:
df = df[ (df['severity'] == "small") | (df['severity'] == "medium") | (df['severity'] == "large") ]
df.reset_index(inplace=True, drop=True)
df

,id,date,severity,precip35,temp35,air35,humidity35,wind35,precip34,temp34,...,temp1,air1,humidity1,wind1,precip0,temp0,air0,humidity0,wind0,slope
0,9204,3/3/16,small,0.5,86,1017,84,27,1.4,86,...,82,1017,90,25,0.9,85,1016,87,23,54
1,12369,8/15/15,medium,0,102,1005,75,17,0.1,106,...,110,1006,91,10,0.0,98,1007,80,12,4
2,8580,7/9/17,medium,2.3,85,1006,100,8,0.9,90,...,87,1005,99,4,6.5,81,1008,100,4,107
3,9452,7/3/11,medium,2.1,77,1008,81,12,2.6,75,...,67,1004,99,8,3.5,76,1006,99,11,77
4,10268,1/18/15,medium,4,101,1011,98,6,4.2,100,...,81,1011,99,8,17.5,78,1013,99,5,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8532,8881,4/26/11,medium,na,na,na,na,na,na,na,...,96,1010,99,12,0.2,94,1010,99,11,45
8533,277,11/27/08,medium,na,na,na,na,na,na,na,...,91,1011,95,11,2.9,84,1011,94,13,-1
8534,2644,5/7/14,small,na,na,na,na,na,na,na,...,61,1017,88,17,0.0,66,1019,73,9,20
8535,9211,10/11/15,medium,na,na,na,na,na,na,na,...,97,1010,93,21,0.0,95,1011,89,19,12954
8536,6574,12/15/08,medium,na,na,na,na,na,na,na,...,98,1010,90,13,0.9,97,1009,91,15,37

In [10]:
from sklearn.preprocessing import OneHotEncoder
X = np.array(df.drop(columns=["id", "date", "severity"]))
Y = OneHotEncoder(sparse = False).fit_transform(np.array(df['severity']).reshape(-1, 1),)

In [11]:
Y

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [12]:
X

array([['0.5', '86', '1017', ..., 87, 23, 54],
       ['0', '102', '1005', ..., 80, 12, 4],
       ['2.3', '85', '1006', ..., 100, 4, 107],
       ...,
       ['na', 'na', 'na', ..., 73, 9, 20],
       ['na', 'na', 'na', ..., 89, 19, 12954],
       ['na', 'na', 'na', ..., 91, 15, 37]], dtype=object)